<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-menu">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid">
                            <a class="navbar-brand" routerLink="./default">
                                <img src="images/logo.png" alt="Logo" width="85" height="85"
                                    class="d-inline-block align-text-top">
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="./default"
                                            routerLinkActive="isActive">Home</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" routerLink="./about-us"
                                            routerLinkActive="isActive">About us</a></li>
                                    <li class="nav-item"><a class="nav-link" routerLink="./locations"
                                            routerLinkActive="isActive">Locations</a></li>
                                    <li class="nav-item"><a class="nav-link" routerLink="./parties"
                                            routerLinkActive="isActive">Parties</a></li>
                                    <li class="nav-item"><a class="nav-link" routerLink="./camp"
                                            routerLinkActive="isActive">Camp</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>