$blueColor: #0129fa;
$yellowColor: #fbd123;
$whiteColor: white;
$boxshadow-color: #1b1b1b;
$darkBackgorundColor: #212122;
$textWithDarkBackgroundColor: #c2c2c2;
$headerBackgroundColor: rgba(0, 0, 0, 0.5);