@use "../../../app/scss/variables.scss" as variables;

#headerSection {
    h1 {
        color: variables.$yellowColor;
        position: absolute;
        left: 50%;
        top: 29%;
        transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }

    img {
        height: 400px;
        width: 100%;
    }
}
