<section id="headerSection">
    <h1 class="text-center">About us</h1>
    <img src="images/bg.jpg" class="img-fluid" alt="...">
</section>
<article id="whoWeAreSection">
    <section class="container">
        <div class="row justify-content-center">
            <header class="col-md-12">
                <h2>Who We Are?</h2>
            </header>
            <section class="col-md-5">
                <p>
                    IRONKIDZ Gym is more than just a fitness center—it's a place where kids grow stronger, gain
                    confidence, and develop lifelong skills. We create a fun and positive environment where children can
                    explore movement, challenge themselves, and discover their potential. Our goal is to build a
                    community of young athletes who embrace the “I Am Iron” mindset. IRONKIDZ Gym is a fun, engaging
                    fitness and gymnastics program designed for kids aged 18 months to 10 We focus on building strength,
                    confidence, social skills and coordination through structured activities. IRONKIDZ Gym is a fun,
                    engaging fitness and gymnastics program designed for kids aged 18 months to 10 We focus on building
                    strength, confidence, social skills and coordination through structured activities.
                </p>
            </section>
            <aside class="col-md-5">
                <img src="images/bg.jpg" class="img-fluid" alt="..." />
            </aside>
        </div>
    </section>
</article>
<article id="foundersSection">
    <section class="container">
        <div class="row justify-content-center">
            <header class="col-md-12">
                <h2>Founder</h2>
            </header>
            <aside class="col-md-5">
                <img src="images/Reza-Naderian.jpg" class="img-fluid" alt="Reza Naderian" />
            </aside>
            <section class="col-md-5">
                <p>
                    Reza Naderian is the founder and owner of Reza Naderian Taekwondo Academy. Master Naderian is a 5th
                    degree black belt and has been devoted to Taekwondo for 25 years. Master Reza began his training in
                    Esfahan, Iran at age five and began actively competing in Taekwondo at age seven. He was selected
                    for his first national team in 2004 and has won multiple world championships. Master Reza is a 2008
                    Olympian and represented Iran the Beijing games. He is an internationally decorated Taekwondo
                    champion!

                    In 2017 Master Reza relocated to Katy, Texas with his wife, Maryam, to share his passion and love of
                    the sport with residents of the greater Houston area. Equipped with a Bachelor's of Science in
                    Student Physical Education & Sports and twenty-five years of international Taekwondo success, Master
                    Reza has a proven formula to develop each student into confident, strong minded athletes who embody
                    the tenets of Taekwondo--courtesy, integrity, perseverance, self-control and indomitable spirit
                </p>
            </section>
        </div>
    </section>
</article>
<article id="whyIronKidzGymSection">
    <section class="container">
        <div class="row justify-content-center">
            <header class="col-md-12">
                <h2>Why Iron Kidz Gym?</h2>
            </header>
            <section class="col-md-5">
                <p>
                    IRONKIDZ Gym stands out because it's a science based program and we focus on strength, confidence,
                    and fun! Our carefully designed programs encourage kids to push their limits in a supportive,
                    engaging environment. We blend gymnastics, fitness, and skill-building activities to create a
                    one-of-a-kind experience. Whether your child is looking to build athletic skills, gain confidence,
                    or just have fun, IRONKIDZ Gym is the perfect place to start.
                </p>
            </section>
            <aside class="col-md-5">
                <img src="images/bg.jpg" class="img-fluid" alt="..." />
            </aside>
        </div>
    </section>
</article>